
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="full-screen" content="yes">
    <link rel="stylesheet" href="css/cui.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/less.css" />
</head>
<body>
 
  <!-- 内容部分 -->
		<div class="cur">
			<div class="wp">
				您的当前位置：<a href="">动态新闻</a> &gt; <a href="">内容标题描述</a>
			</div>
		</div>
		<div class="wp">
			<div class="article">
				<h1> ${newsbean.title}</h1>
				<p class="time">时间：   $dateUtil.convertDateToString("yyyy-MM-dd HH:mm:ss",$!{newsbean.gmt_create})</p>
				<div class="article-con">
 				
<p style="text-align:center;">
	  ${newsbean.content}
</p>
</div>

	<div class="h20"></div>
	<div class="share">
	 
				</div>
			</div>
		</div>
  
</div>
<!-- end #bd -->
<div class="c"></div>
 
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5b31afcdea6af2d7d3677ca5c1a22c46"></script>
<script type="text/javascript" src="js/map.js"></script>
</body>
</html>