#set($layout="")
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/login.htm" method="post">
	<table>
		<tr><td>编号：</td><td><input type="text" name="id" value="1"></td></tr>
		<tr><td>姓名：</td><td><input type="text" name="name" value="user"></td></tr>
		<tr><td>楼宇号：</td><td><input type="text" name="buildingId" value="2"></td></tr>
		<tr><td></td><td><input type="submit" value="submit"></td></tr>
	</table>	
</form>
</body>
</html>


