#set($layout="layout/center.vm")
<script src="$appServer/js/center/user/password.js" type="text/javascript" ></script>    	
<div class="xjr">
	<div class="xjr01"><span>密码修改</span></div>
	
	<form id="inputForm" method="post" action="$appServer/center/user/passwordEdit.htm" >
    <div class="xjr09">
    	<ul>
        <li>
        	<span style="width:100px;text-align:right;">原密码：</span>
			<input id="pwdOld" name="pwdOld" type="password" value="$!{pwdOld}" maxlength="16" class="required" />
        	<label class="error"></label>
        </li>
		<li>
			<span style="width:100px;text-align:right;">新密码：</span>
			<input id="pwdNew" name="pwdNew" type="password" value="$!{pwdNew}" maxlength="16" class="required" />
			<label class="error"></label>
		</li>
		<li>
			<span style="width:100px;text-align:right;">确认密码：</span>
			<input id="pwdConfirm" name="pwdConfirm" type="password" value="$!{pwdConfirm}" maxlength="16" class="required confirmEqual " />
			<label class="error"></label>
		</li>
        </ul>
        <div class="xjr010"><input type="submit" value="保存" style="margin-left: 140px;"/>
		<label class="error">$!{message}</label></div>
    </div>
    </form>
</div>
</div>