<br/><br/><br/><br/>这是用户登录页面
<form action="$appServer.get('login.htm')" method="post">
	<table>
		<tr><td>编号：</td><td><input type="text" name="id" value="1"></td></tr>
		<tr><td>姓名：</td><td><input type="text" name="name" value=""></td></tr>
		<tr><td>楼宇号：</td><td><input type="text" name="buildingId" value="2"></td></tr>
		<tr><td></td><td><input type="submit" value="submit"></td></tr>
	</table>
</form>