#set($layout="")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>购物结算订单</title>
<link href="/css/css.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wytop">
    	<div class="wytopwr">
        	<span>欢迎进入物业快车网！</span>
            <ul>
            <li><a href="#">收藏我们</a></li>
            <li><a href="#">帮助中心</a></li>
            <li id="wr"><a href="#">会员中心</a></li>
            </ul>
        </div>  
    </div>
<div class="menuaa2">
  <div class="menu">
  <div class="menulg"><img src="/images/logo.png" width="327" height="53" /></div>
  <div class="gwlc"><img src="/images/gwlc_03aa12.jpg" width="511" height="53" /></div>
</div>
</div>
<div class="lcdd">
	<h6>收信人信息</h6>
  <ul>
    <li><span>手机号码</span><input name="" type="text" /></li>
    <li><span>手机号码</span><input name="" type="text" /></li>
    <li><span>手机号码</span><input name="" type="text" /></li>
    <li><span>手机号码</span><input name="" type="text" /></li>
    </ul>
    <input class="lcdd02" name="" type="submit" value="保存地址信息" />
</div>
<div class="lcdd03">
  <h6>支付平台</h6>
    <span>推荐使用快捷支付</span>
    <ul>
    <li><input name="" type="radio" value="" />
      <img src="/images/vfdgdd.png" width="142" height="52" /></li>
      <li><input name="" type="radio" value="" />
      <img src="/images/vfdgdd.png" width="142" height="52" /></li>
      <li><input name="" type="radio" value="" />
      <img src="/images/vfdgdd.png" width="142" height="52" /></li>
    </ul>
</div>
<div class="lcdd04">
  <h6>信用卡支付</h6>
    <span>支持各个银行</span>
    <ul>
    <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
	<li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
    </ul>
</div>
<div class="chear"></div>
<div class="lcdd04">
  <h6>借记卡支付</h6>
    <span>支持各个银行</span>
    <ul>
    <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
	<li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
      <li><input name="" type="radio" value="" />
      <img src="/images/gdrwe.png" width="100" height="30" />      </li>
    </ul>
</div>
<div class="chear"></div>
<div class="lcdd05">
	<div class="lcdd06"><input name="" type="submit" value="去付款" /></div>
</div>
<div class="footer">
  <div class="footer02"><span><a href="#">会员单位</a> |    <a href="#">服务条款</a> |    <a href="#">付款方式</a> |    <a href="#">厂商加盟</a> |    <a href="#">联系我们</a> |    <a href="#">友情链接</a> |    <a href="#">帮助</a><br />
    
    Copyright © 2004-2014  快车jk.com 版权所有</span>
  </div>
</div>
</body>
</html>
