#set($menu = "society")
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>兴趣社团详情</title>
<link href="$appServer/css/css.css" rel="stylesheet" type="text/css" />
<link href="$appServer/css/style.css" rel="stylesheet" type="text/css" />

 
 <script type="text/javascript">
function show(){
	 
	var ms1=document.getElementsByName("createTime");
	 
	 
	 for(var i=0;i<ms1.length;i++){
	 
	 var date = new Date(); //日期对象
	   var ms2=ms1[i].value;
	   
	var myDate= new Date(Date.parse(ms2.replace(/-/g, "/")));  
	  
	   
	var ms= date.getTime()-myDate.getTime();
	date.setTime(ms);
	var time = "";
	time = date.getFullYear()-1969+"年";
	time = time +(date.getMonth()-11)+"月";
	time = time + (date.getDate()-31)+"日 ";
	time = time + (date.getHours()-18)+"小时";
	time = time + (date.getMinutes())+"分钟";
	  
	 
	document.getElementById(i+1).innerHTML =time; 
	
	   
	}
	  
	 
 
	}
	function joinNow(cid){
		 
		 
		jQuery.ajax({
     		type: 'POST',
			url: appServer + '/goods/society/joinClub.htm',
			data: {    
             	cid : cid
             	 
    		},
			dataType: 'json',
			success: function(data) {    
        		  
        		 if(data.result=='nologin'){
        		 
        		 alert("加入失败！请先登录！");   
        		 
        		 }
        		 if(data.result=='userrepeat'){
        		 
        		 alert("您已经加入过咯！");   
        		 
        		 }
        		  if(data.result=='success'){
        		 
        		 alert("加入成功");   
        		 location.reload(true)  
        		 }
        		   
     		},    
		 	error : function() {   
            		alert("加入购物车失败！请先登录！");   
			}
		});
	}
	
	
	
	 
 
</script> 
 
</head>

<body  onload="show();" style="overflow:auto">
  
<div class="xqstxq">
	<div class="xqstxq02" style="width:321px;height:321px"><img src="$appServer/$club.logo" width="321" height="321" /></div>
    <div class="xqstxq03" style="width:450px;height:321px;">
    
    	<span style="width:400px"><a href="#">$club.name</a></span>
    	<input type="hidden" id="cid"  value="$club.cid"  />
        <h6>圈子介绍：</h6><br />
        <h5 style="width:420px">$club.brief </h5>
    </div>
    <div class="xqstxq04">
    	<div class="xqstxq05"><i></i>圈子成员：
    	<a href="$appServer/goods/society/clubMember.htm?cid=$club.cid">
    	<li style="margin-right: 10px;margin-top:5px;width: 78px;height:32px;background:#E70834;border-radius:15px;color:white;float:right;text-align:center">更多</li></a>
    	</div>
    		#foreach($item in $query.items)
    	
        <div class="xqstxq06">
        #if (!$item.headImage)
        <img src="$appServer/images/defaultImage.jpg" width="81" height="82" />
        #end
         #if ($item.headImage)
        <img src="$appServer/$item.headImage" width="81" height="82" />
        #end
        <strong><a href="#">$item.name</a></strong><span> 
          $item.gender 
                                     
         
            <br />
好久没冒泡了
</span>
 
</div>
#end
 
    </div>
</div>

<div class="xqstxq07">粉丝人数：
 #if($!query.items.size()>0)
 
 $!query.items.size()
 #else
 0
 
 #end

 

<input name="" type="button"  onclick="joinNow($club.cid)" value="马上加入" /></div>
 
<div class="kchydwq07"><span>活动</span>
  
  
 
 
 
</div>

<div class="xqstxq08">
     
        #foreach($item in $activityQuery.items)
        <a href="$appServer/goods/society/activityDetail.htm?aid=$item.aid">
			<div class="xj11" style="height:67px;">
			      	<div class="xj12" style="width:67px;height:63px;"><img src="$item.logo" width="67" height="63" /></div>
			        <div class="xj13"><span style="width:150px;"><b style="float:left;margin-right:30px;">$item.name</b> <div  style="width:300px;float:left;">     <div style="float:left;"   id=""></div>           </span><h6>$item.subtitle</h6></div></div>
			        <div class="xj14" style="float:right"><span>$velocityCount F</span><h6 style="text-align:right"> 人气值</h6><h5>（$item.clickNum）</h5></div>
			      </div>
			      </a>
			   #end   
			      
  
</div>
<div style="text-align:right;margin-left:250px;">
#pager($activityQuery,"/goods/society/detail.htm")
</div>
   
<div class="chear"></div>

</body>
</html>
