#set($layout="")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>物业信息详情</title>
<link href="/css/css.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wytop">
    	<div class="wytopwr">
        	<span>欢迎进入物业快车网！</span>
            <ul>
            <li><a href="#">收藏我们</a></li>
            <li><a href="#">帮助中心</a></li>
            <li id="wr"><a href="#">会员中心</a></li>
            </ul>
        </div>  
    </div>
    <div class="menu">
    <div class="menulg"><img src="/images/logo.png" width="327" height="53" /></div>
    <div class="menusr">
    	<ul>
        <li><a id="mr" href="#">商品</a></li>
        <li><a href="#">商品</a></li>
        <li><a href="#">商品</a></li>
        </ul>
      <i><input class="Inpt" name="" type="text" /></i><input class="mserver" name="" type="submit" value=" " />
    </div>
    <div class="menukf"><a href="#"><img src="/images/kf.png" width="31" height="28" /></a><a class="menukftxt" href="#">客服中心</a></div>
    </div>
    <div class=" menunav">
    	<div class="menunav02">
        	<ul>
            <li><a id="menubg" href="/goods/index.htm">首 页</a></li>
            <li><a href="/ywfw.html">物业信息</a></li>
            <li><a href="/zxzx.html">最新资讯</a></li>
            <li><a href="/goods/sale/mrcx.htm">每日促销</a></li>
            <li><a href="/goods/provider/hydw.htm">会员单位</a></li>
            <li><a href="/goods/house/list.htm">房产信息</a></li>
            <li style="border-right:1px solid #f4f4f4"><a href="/goods/normal/list.htm">商品信息</a></li>
            </ul>
        </div>
    </div>  
    <div class="xxban"></div> 
<div class="kcxxq">
    	<div class="kcxxq02"><img src="$goods.image1" width="405" height="359" /></div>
        <div class="kcxxq03">
        	<div class="kcxxq04">$goods.name </div>
            <div class="kcxxq05">
            	<ul>
                <li><span>价格</span> <strong>$goods.price</strong></li>
                <li><span>概况</span></li>
                
                </ul>
                 <strong>$goods.detailintro</strong>
            </div>
        </div>
</div>
<div class="kcxxq06"><span>请联系我</span></div>
<div class="kcxxq07">
	<ul>
    <li><span>尊称 :</span><input name="" type="text" /></li>
    <li><span>电话 :</span><input name="" type="text" /></li>
    </ul>
  <div class="kcxxq08">
    	<span>留言：</span><textarea name="" cols="" rows=""></textarea>
      <input name="" type="submit" value="提交" />
    </div>
</div>
<div class="chear"></div>
<div class="footer">
<div class="footer02"><span><a href="#">会员单位</a> |    <a href="#">服务条款</a> |    <a href="#">付款方式</a> |    <a href="#">厂商加盟</a> |    <a href="#">联系我们</a> |    <a href="#">友情链接</a> |    <a href="#">帮助</a><br />
  
                         Copyright © 2004-2014  快车jk.com 版权所有</span>
	  </div>
    </div>
</body>
</html>
