#set($layout="")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0040)http://www.huoxingshijue.com/contact.asp -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="Keywords" content="">
<meta name="Description" content="">
<title></title>

<link href="$appServer/contact/Sdcms.Css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="$appServer/contact/hxs.css">
<link href="http://www.huoxingshijue.com/images/favicon.ico" type="image/x-icon" rel="icon">
<link href="http://www.huoxingshijue.com/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
<script charset="utf-8" src="$appServer/contact/v.js"></script><script src="$appServer/contact/hm.js"></script><script src="$appServer/contact/Jquery.js" type="text/javascript"></script>
<script src="$appServer/contact/Sdcms.js" type="text/javascript"></script>

<script type="text/javascript" src="$appServer/contact/hxs.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?31f06f5957872af1c9bc53c55bb509f4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
 
<style type="text/css">
html, body {
	margin:0;
	padding:0;
}
.iw_poi_title {
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap
}
.iw_poi_content {
	font:12px arial, sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word
}
</style>
<script type="text/javascript" src="$appServer/contact/api"></script><script type="text/javascript" src="$appServer/contact/getscript"></script><link rel="stylesheet" type="text/css" href="$appServer/contact/bmap.css">
<div class="w_990 mlauto mrauto nav_shadow"></div>
<!-- service project start -->
 
<!-- service project end -->
<div class="w_990 mlauto mrauto wrap">
 
<div class="clearfix" style="margin-top:50px;">
<a name="lianxi"></a>
  <div class="contact_left fl"><img src="$appServer/contact/contact_icon.gif" alt="">
    <p class="mt20 mb15">您可以通过以下方式联系我们，或在页面右侧给我们留言</p>
    <div style="line-height:20px; font-family:Tahoma, Geneva, sans-serif; text-align:left;"><a class="fl mr10" href=""><img id="Image16" border="0" name="Image16" alt="" src="$appServer/contact/contact_icon2.gif" width="45" height="47"></a><a class="fl mr10" href=""><img id="Image15" border="0" name="Image15" alt="" src="$appServer/contact/contact_icon3.gif" width="45" height="47"></a><a class="fl" href=""><img id="Image17" border="0" name="Image17" alt="" src="$appServer/contact/contact_icon4.gif" width="45" height="47"></a><p class="mt15 mb15"><img alt="" src="$appServer/contact/contact_icon5.gif"> </p><p>我们的工作时间：08:30-18:00<br><br><strong>上海云河信息科技有限公司</strong><br>电话：021－64822088、64822089<br>网址：<a href="http://www.wuyeok.com/">http://www.wuyeok.com</a><br>地址：上海光大会展中心B座光大梦工厂<p><strong>
    
    </div>
  </div>
  <div class="contact_right fl clearfix">
  <form action="$appServer/goods/contact.htm" method="post" name="fm1" id="fm1" style="margin:0 ">
     
       <h1> 提交成功</h1>
     
	<script language="JavaScript" type="text/javascript">
	 
	function cheForm()
	{
	   if(document.fm1.name.value=="您的姓名") {
		document.fm1.name.focus();
		alert("请输入您的姓名！");
		return false;
	  }
	   if(document.fm1.tel.value=="您的电话") {
		document.fm1.tel.focus();
		alert("请输入您的电话！");
		return false;
	  }  
	   if(document.fm1.email.value=="您的邮箱") {
		document.fm1.email.focus();
		alert("请输入您的邮箱！");
		return false;
	  }  
	 if(document.fm1.email.value.length!=0)
	  {
		if (document.fm1.email.value.charAt(0)=="." ||        
			 document.fm1.email.value.charAt(0)=="@"||       
			 document.fm1.email.value.indexOf('@', 0) == -1 || 
			 document.fm1.email.value.indexOf('.', 0) == -1 || 
			 document.fm1.email.value.lastIndexOf("@")==document.fm1.email.value.length-1 || 
			 document.fm1.email.value.lastIndexOf(".")==document.fm1.email.value.length-1)
		 {
		  alert("邮箱格式不正确，请重新输入！");
		  document.fm1.email.focus();
		  return false;
		  }
	   }
	   if(document.fm1.feedback.value=="您的需求") {
		document.fm1.feedback.focus();
		alert("请填写您的详细需求，以便我们更好的为您服务！");
		return false;
	  }    
	  }
	 </script></form>
  </div>
</div>
</div>
<div class="wrap_bottom pt10"></div>
</div>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(120.755154,31.264435);//定义一个中心点坐标
        map.centerAndZoom(point,14);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.disableScrollWheelZoom();//禁用地图滚轮放大缩小，默认禁用(可不写)
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"苏州物业快车",content:"苏州工业园区若水路99号",point:"120.755154|31.264435",isOpen:0,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
 
 
</div>
<!-- siteapp.baidu.com/site/www.huoxingshijue.com Baidu tongji analytics -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa176cb18b136afb2cb5ef7417e648cd2' type='text/javascript'%3E%3C/script%3E"));
</script><script src="$appServer/contact/h.js" type="text/javascript"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F31f06f5957872af1c9bc53c55bb509f4' type='text/javascript'%3E%3C/script%3E"));
</script><script src="$appServer/contact/h(1).js" type="text/javascript"></script>

</body></html>